.section {
  margin-left: 40vw;
  flex-grow: 1;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.section:last-of-type {
  min-height: 90vh;
  margin-bottom: 0;
}

@media (max-width: 1020px) {
  .section {
      margin-left: 0;
      min-height: auto;
      padding-top: 10vh;
  }
}


